.font-nogo
{
	font-family: 'ThatNogoFontCasual';
} 

.font-dyslexic
{
	font-family: 'OpenDyslexicRegular';
} 

.font-agh
{
	font-family: 'AghjaMedium';
}

body
{
	background-image: url("../images/restaurant.png");
}

#header
{
	line-height: 80px;
	border-bottom: 5px solid #c99686
}

#header-title
{
	font-family: 'ThatNogoFontCasual';
	font-size: 30px;
	margin: 0 20px;
}

.column
{
	border: 5px solid #c99686;
	border-radius: .8rem;
	margin: 30px 10px;
}

.back-image-white
{
	background-image: url("../images/so-white.png");
	background-color: white;
}